<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <application
        android:networkSecurityConfig="@xml/network_security_config_debug"
        android:usesCleartextTraffic="true"
        tools:replace="android:networkSecurityConfig,android:usesCleartextTraffic">
        <activity
            android:name=".app.DebugConnectionActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:noHistory="true"
            android:permission="android.permission.DUMP"
            android:theme="@style/Theme.HermesClient"
            tools:ignore="ProtectedPermissions" />
    </application>
</manifest>
